{% extends "base.html" %}
{% block title %}Questions Form{% endblock %}
{% block content %}        
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash">
                {% for message in messages %}
                    <div>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="border-container"><h1>{{question.question}}</h1><div>
        <form name="answerForm" action="/answer" method="POST">
            {% with choices = question.choices %}
                {% if choices %}
                    <div class="flash">
                    {% for choice in choices %}
                        <p><input type="radio" name="answer" value={{choice}}>{{choice}}</p>
                    {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
         </form>
    </div>
    <script>
        answerItems = document.querySelectorAll('input[name="answer"]');
        for(answerItem of answerItems) {
            answerItem.addEventListener("click", (event) => {
                document.forms['answerForm'].submit();
            })
        }
    </script>
{% endblock %}