{% extends "base.html" %}
{% block content %}
<div class="border-container">
    <h1>{% block home_header %}Thanks{% endblock %}</h1>
    <div id="container" class="border-container">
        <p>
            Thank you for completing the survey.
            <a href="/reset">Home</a><br/>
            <hr>
            {% for response in responses %}
                <div>{{response.question}} -> {{response.answer}} {{response.answer_text}} <span class="comment">{{response.comment}}</span></div>
            {% endfor %}
        </p>
    </div>
</div>
{% endblock %}